@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
.clock {
	/* background-color: black; */
	display: block;
	width: 100%;
	/* height: 500px; */
	text-align: center;
	font-size: 22rem;
	animation: Cyan1 0.5s linear infinite;
	animation-delay: 0.25s;
	-webkit-text-fill-color: #00a2ff;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #013d89;
	font-family: 'Cherry Bomb One', cursive;
	/* padding-top: 10px;
	padding-bottom: 10px; */
}

/* 
@keyframes Cyan1 {
	from {
		text-shadow: 0 0 5px #004cb6,
					 0 0 15px #004cb6,
					 0 0 30px #004cb6,
					 0 0 60px #004cb6;
	}
} */

